html,body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

img{
	max-width: 100%;
}

.border-radius-0{
	border-radius: 0;
}

.full-width{
	width: 100%;
}

.block{
	display: block;
}

.relative{
	position: relative;
}
.margin-auto{
	margin: auto;
}

.card{
	border-radius: 1rem;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.125);
}